@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2? family= Titillium+Web & display=swap');
@font-face {
    font-family: 'FonteLogo';
    src: url('_fonts/bubblegum-sans-regular.otf');
}

form{
   margin: 0 auto;
   width: 350px;
   padding: 2em;
   border: 2px solid blue;
   border-radius: 2em;
   background-color: antiquewhite;
   text-align: center;
}

ul{
   list-style: none;
   padding: 0;
   margin: 0;
}

form li{
   margin-top:top;
   height: 20px;
}

label{
   display: inline-block;
   width: 150px;
   text-align: right;
}

input, textarea{
   font: 1em sans-serif;
   width: 100px;
   box-sizing: border-box;
   border: 1px solid dimgray;
}

textarea{
   vertical-align: top;
   height: 5em;
}


h1{
   font-size: 30px;
}
form{
   font-size: 12px;
}
